---
layout: page
title: Reach
permalink: /contact/
subtitle: Reach out via 
---

* My preferred mode of communication is Email, my 
<a href="{{ site.baseurl }}/assets/files/public.key" download="adityapakki@gmail.com"> PGP </a>
<p>
<ul>
    {% if site.email %}
    <li><a href="mailto:{{ site.email }}">Email</a></li>
    {% endif %}
  <li> Social Media
  <div class="site-links">
    <div class="site-contact">
      <ul>
        {% if site.github_username %}
        <li><a target="_blank" rel="external" href="https://github.com/{{ site.github_username }}">Github</a></li>
        {% endif %}

        {% if site.linkedin_username %}
        <li><a target="_blank" rel="external" href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
        {% endif %}

        {% if site.twitter_username %}
        <li><a target="_blank" rel="external" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  </li>
  <li> Telephone: (385) 216-5791 </li>
  <li> Address:</br>University of Minnesota </br>
                    5-248 Keller Hall </br>
                    200 Union Street, SE </br>
                    Minneapolis, MN, 55455
  </li>
</p>
